* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hanken Display', sans-serif;
  min-height: 100vh;
  background-color: hsl(221, 100%, 96%);
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.result {
  background-color: hsl(252, 100%, 67%);
  border-radius: 20px;
  text-align: center;
  background: linear-gradient(to bottom,
      hsl(252, 100%, 67%),
      hsl(241, 81%, 54%));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 250px;
  padding: 5px;
}

.result .title {
  text-align: center;
  color: hsl(0, 0%, 70%);
  padding: 25px;
  padding-bottom: 10px;
  font-size: 18px;
}

.result .circle {
  justify-content: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: linear-gradient(to bottom,
      hsla(256, 72%, 46%, 1),
      hsla(241, 72%, 46%, 0));
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle h5 {
  color: white;
  font-size: 3rem;
}

.circle span {
  color: #969494;
  font-size: 14px;
  font-weight: 500;
}

.rating {
  color: white;
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 15px;
}

.result p {
  padding: 35px;
  width: 200px;
  padding-top: 2px;
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 20px 30px 0px 30px;
}

.summary h3 {
  text-align: left;
  color: hsl(224, 30%, 27%);
  padding: 13px;
  font-weight: 900;
}

.summary .result_item {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  width: 240px;
  height: 15px;
  margin-left: 10px;
}

.category {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 15px;
}

.result_item p {
  color: #969494;
  font-weight: 900;
}

.result_item .score {
  color: hsl(224, 30%, 27%);
  font-weight: 900;
}

.continue {
  background-color: hsl(224, 30%, 27%);
  padding: 15px;
  margin-top: 15px;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  color: hsl(221, 100%, 96%);
  font-weight: 900;
}

.continue:hover {
  background: linear-gradient(to bottom,
      hsl(252, 100%, 67%),
      hsl(241, 81%, 54%));
}

@media only screen and (max-width: 625px) {
  .container {
    flex-direction: column;
  }

  .result {
    max-width: 400px;
  }

  .summary {
    padding-bottom: 20px;
  }
}